<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">您使用的浏览器已不受支持，请更换您的浏览器。运行 Windows 10/11 的电脑请下载<a target="_blank" class="alert-link" href="https://microsoft.com/edge/">Microsoft Edge</a>，其它电脑请下载<a target="_blank" class="alert-link" href="http://www.centbrowser.cn/">百分浏览器</a>。</div>
<![endif]-->
    <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
    <div class="visible">
      {{ content }}
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/index.min.js" | relative_url }}"></script>
</body>
</html>
